.buttons {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.buttons_body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttons_body > .MuiButton-root {
  text-transform: none !important;
}

.MuiSnackbarContent-root {
  background-color: rgb(208 226 212) !important;
  color: #0a5023 !important;
  font-size: 1rem !important;
  font-weight: 800 !important;
  min-width: 200px !important;
}
